.experiencia {
  background: var(--verde);
  display: flex;
  gap: 30px;
  align-items: center;
  justify-content: center;
  
}

.foto-minha-grande {
  width: 500px;
  height: 700px;
  object-fit: cover;
}

.content-experiencia {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-right: 40px;
}
.experiencia h2 {
  font-size: 64px;
  color: var(--preto);
}

.experiencia h2 > span {
  color: var(--branco);
}

.experiencia p {
  font-size: 20px;
  letter-spacing: 1px;
  font-weight: 500;
  margin-top: 20px;
}

.btn-contato {
  font-size: 18px;
  border-radius: 10px;
  background: var(--preto);
  color: var(--branco);
  padding: 15px 50px;
  font-weight: bold;
  letter-spacing: 1.3px;
  margin-top: 30px;
}

.btn-contato:hover {
  background: var(--branco);
  color: var(--preto);
  transition: 0.2s;
}

@media (max-width: 900px) {
  .experiencia {
    flex-direction: column-reverse;
    padding: var(--padding-lateral);
  }

  .content-experiencia {
      
    justify-content: center;
    align-items: center;
  }

  .foto-minha-grande {
    width: 300px;
    height: 500px;
    object-fit: cover;
  }

  .experiencia h2 {
    font-size: 40px;
    margin-top: 30px;
    align-self: flex-start;
  }

  .experiencia p {
    font-size: 18px;

  }
}
