.home {
    display: flex;
    padding: 160px var(--padding-lateral);
    align-items: center;
    justify-content: space-around;
    gap: 20px;
    background: var(--preto);
}

.home-content h1 {
    font-size: 64px;
    color: var(--branco);
}

.span-home {
    color: var(--verde);
    font-weight: bold;
}

.home-content span {
    color:var(--verde);
}

.home-content p {
    font-size: 24px;
    margin: 10px 30px 50px 0;
    color: var(--branco);
}
.home-content [href="#sobre"] {
    font-size: 18px;
    border-radius: 10px;
    background: var(--verde);
    color: var(--preto);
    padding: 15px 50px;
    font-weight: bold;
    letter-spacing: 1.3px;
    
}

.home-content [href="#sobre"]:hover {
    background: var(--branco);
    transition: .2s;
}

.home-photo img {
    width: 500px;
}

.rede-sociais {
    margin-top: 50px;
    display: flex;
    gap: 20px;
}



@media (max-width: 900px) {
    .home-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .home {
        flex-direction: column;
        

    }

    .home img {
        max-width: 300px;
    }
    .home-content h1 {
        font-size: 32px;
        text-align: center;
    }
    .home-content p {
        font-size: 20px;
        margin: 10px 0px;
        text-align: center;
    }

    .home {
        padding: 100px 50px;
    }


}
