.projetos-container {
  position: relative;
  display: flex;
  align-items: center;
}

.projetos-titulo {
  color: var(--preto);
    font-size: 64px;
    margin: 130px 0px 30px 0px;
}


.projetos-titulo > span {
    color: var(--verde);

}
.projetos-ul {
  display: flex;
  gap: 20px;
  list-style: none;   /* tira as bolinhas */
  padding: 0;
  margin: 0;

  overflow-x: auto;   /* permite rolagem lateral */
  overflow-y: hidden; /* evita scroll vertical */
  white-space: nowrap; /* mantém os itens na mesma linha */
  scroll-behavior: smooth; /* rolagem suave */

}

.projetos-ul::-webkit-scrollbar {
    display: none;
}

.projetos-a {
  position: relative;
  display: inline-block; /* ou block se quiser ocupar 100% */
  overflow: hidden;
}

.projetos-a img {
  display: block;
  width: 500px;
  height: 300px;
  object-fit: cover;
  transition: opacity .3s ease;
}

.projetos-a span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* centraliza */
  color: var(--preto);
  font-size: 1rem;
  font-weight: 700;
  opacity: 0;
  transition: opacity .3s ease;
  pointer-events: none; /* evita que atrapalhe o hover */
}

.projetos-a:hover img {
  opacity: 0.5;
}

.projetos-a:hover span {
  opacity: 1;
}

.seta {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  
  color: var(--verde);
  border: none;
  font-size: 2rem;
  cursor: pointer;
  padding: 8px 12px;
  border-radius: 50%;
  z-index: 10;
}

.seta.esquerda {
  left: -40px;
}

.seta.direita {
  right: -40px;
}


